{{ define "main" }}
<div class="td-content">
    <h1>{{ .Title }}</h1>
    {{ $page := . }}
    {{ with .Params.description }}<div class="lead">{{ . | markdownify }}</div>{{ end }}
    {{ $inventory := .Params.inventory | default (path.Base (path.Dir .File.Path)) }}
    {{ $short_name := .Params.inventory_item | default .File.BaseFileName }}
    {{ $item := index (index $.Site.Data.inventory $inventory) $short_name }}
    {{ $item_name := print $inventory "/" $short_name }}
    {{ $revdeps := slice }}
    {{ range $rev_inventory_name, $rev_inventory := .Site.Data.inventory }}
        {{ range $rev_item_name, $rev_item := $rev_inventory }}
            {{ range $rev_item.dependencies }}
                {{ range (where . ".name" $item_name) }}
                    {{ $revdeps = $revdeps | append (dict "name" (print $rev_inventory_name "/" $rev_item_name) "annotation" .annotation) }}
                {{ end }}
            {{ end }}
            {{ range (where ($rev_item.people | default slice) ".name" $short_name) }}
                {{ $revdeps = $revdeps | append (dict "name" (print $rev_inventory_name "/" $rev_item_name) "annotation" "people") }}
            {{ end }}
            {{ if eq $rev_item.infrastructure $short_name }}
                {{ $revdeps = $revdeps | append (dict "name" (print $rev_inventory_name "/" $rev_item_name) "annotation" "infrastructure") }}
            {{ end }}
        {{ end }}
    {{ end }}
    <p>{{ $item.description | markdownify }}</p>
    <p><ul>
        <li>Kind: <a href="{{ relref $page (print "../" $item.kind) }}">{{ $item.kind }}</a></li>
        {{ with $item.infrastructure }}
        <li>Infrastructure: <a href="{{ relref $page (print "../infrastructure/" .) }}">{{ . }}</a></li>
        {{ end }}
        {{ with $item.people }}
        <li>People:<ul>
            {{ range . }}
            <li><a href="{{ relref $page (print "../people/" .name) }}">{{ .name }}</a></li>
            {{ end }}
        </ul></li>
        {{ end }}
        {{ with $item.docs }}
        <li>Documentation:<ul>
            {{ range . }}
            <li><a href="{{ .url | safeURL }}">{{ .name }}</a>
                {{- if .repo }}: {{ with .path }} <code>{{ . }}</code> at {{ end }} <a href="{{ .repo | safeURL }}">{{ .repo }}</a>{{ end }}
            </li>
            {{ end }}
        </ul></li>
        {{ end }}
        {{ with $item.cnames }}
        <li>URLs:<ul>
            {{ range . }}
            <li><a href="{{ . | safeURL }}">{{ . }}</a></li>
            {{ end }}
        </ul></li>
        {{ end }}
        {{ with $item.sources }}
        <li>Sources:<ul>
            {{ range . }}
            <li>{{ .name }}: {{ with .path }} <code>{{ . }}</code> at {{ end }} <a href="{{ .repo | safeURL }}">{{ .repo }}</a></li>
            {{ end }}
        </ul></li>
        {{ end }}
        {{ with $item.members }}
        <li>Members:<ul>
            {{ range . }}
            <li>{{ . }}</li>
            {{ end }}
        </ul></li>
        {{ end }}
        {{ with $item.dependencies.runtime }}
        <li>Runtime dependencies:<ul>
            {{ range . }}
            <li>{{ .annotation }}:
                {{ if index $.Site.Data.inventory (split .name "/") }}
                    <a href="{{ relref $page (print "../" .name) }}">{{ .name }}</a>
                {{ else }}
                    {{ warnf "Missing inventory data for %s" .name }}
                    {{ .name }} (missing)
                {{ end }}
            </li>
            {{ end }}
        </ul></li>
        {{ end }}
        {{ with $revdeps }}
        <li>Reverse dependencies:<ul>
            {{ range . }}
            <li>{{ .annotation }}: <a href="{{ relref $page (print "../" .name) }}">{{ .name }}</a></li>
            {{ end }}
        </ul></li>
        {{ end }}
        </ul>
    </p>

    <div class="text-muted mt-5 pt-3 border-top">{{ partial "page-meta-lastmod.html" . }}</div>
</div>
{{ end }}
